@import url(../vendor/normalize.css);
@import url(../vendor/fonts/Montserrat/fonts.css);

.page {
    max-width: 1920px;
    font-family: 'Montserrat', 'Verdana', sans-serif;
    background-color: #fff;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  a:link {
    color: #000; 
     
  }
  a:visited {
    color: #000;
  }
  a:hover {
    color: rgba(0, 178, 224, 1); 
    
    
  }
  /* a:active {
    color: #497DDD; 
    border-bottom: 1px dashed;
  } */


.header {
    padding: 20px;  
  }



  .header__logo {
    width: 142px;
    height: 46px;
   
  }

  .content {
    flex: 1;
    
    display: flex;
 
    justify-content: center;  
    align-items: center;
    /* overflow: auto;    */
  
    
  }


.form {
  width: 455px;
  text-align: center;

}

.form__title {
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}

.form__input {
  margin-top: 160px;
  width: 100%;
  padding: 0 0 18px;
  display: block;
  font-size: 16px;
  font-weight: 400;
  margin-top: 52px;
  border: 0; 
  border-bottom: 1px solid #4d96d6; 
  border-radius: 0;
}  

.form__input:hover {
    border-bottom: 1px solid #1F4E94; 
    transition: .2s ease-in-out;
} 
.form__input:focus {
  border-bottom: 1px solid #1F4E94; 

} 

.form__input:focus {
  outline: none;
   
}

.form__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
 
}

.form__remember {
  font-size: 16px;
  font-weight: 400;
  padding-left: 35px;
  cursor: pointer;
 }

 /* .form__remember::after:hover {
  border: 2px solid #00B2E0;
  
 } */

 .form__remember::before {
   content: "";
   display: block;
   width: 18px;
   height: 18px;
   border: 1px solid #1F4E94;
   background-color: #fff;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
   
 }

 .form__remember::after {
   content: "";
   display: block;
   width: 18px;
   height: 18px;
   background: url("../images/checkbox_galka.svg") no-repeat;
   background-size: 15px 15px;
   /* background-position: center; */
   position: absolute;
   top: 2px;
   left: 3px;
   z-index: 2;
  opacity: 0;
  pointer-events: none;
 }

.form__container {
  position: relative;
}

.form__checkbox {
  opacity: 0;
  position: absolute;
  z-index: 5;
}

/* Тут можно установить цвет фона чекбокса */
/* .form__checkbox:checked + .form__remember::before{
  background-color: rgb(214, 255, 206);
} */

.form__checkbox:checked + .form__remember::after{
  opacity: 1;
}


.form__reset {
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  display: block;
}

.form__button {
  background-color: #337AB7;
  color: #fff;
  width: 100%;
  height: 63px;
  margin-top: 54px;
  border: 0;
  font-size: 16px;
  line-height: 1.2;
  transition: .2s all ease;

}
.form__button:hover {  
  background-color: #1F4E94;
}

.form__button:active {  
  background-color: #0E3A7C;

}

.footer {
  padding: 0 20px;
  text-align: center;
  margin-top: 50px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
}

.footer__logo {
  width: 54px;
  height: 19px;
}

.footer__address {
  font-size: 16px;
  font-weight: 400;
}

.footer__contacts {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}



@media screen and (max-width: 620px) {
  .footer__wrapper {
flex-direction: column;
  }
  .footer__logo {
   margin-bottom: 16px;
  }
      
}

@media screen and (max-width: 440px) {
  .header__logo {
    width: 102px;
    height: 33px;
   
  }
  .form__title {
    font-size: 30px;
   }
   .form {
    width: 400px;
  }

  .footer__address {
    font-size: 14px;
  }
  
  .footer__contacts {
    font-size: 14px;
  }
  
}

@media screen and (max-width: 375px) {
  .form__title {
    font-size: 24px;
   }
   .form {
    width: 345px;
  }

    .footer__address {
    font-size: 12px;
  }
  
  .footer__contacts {
    font-size: 12px;
  }

  .form__input {

    font-size: 14px;
 
  }  

}