@import url(../vendor/normalize.css);
@import url(../vendor/fonts/Montserrat/fonts.css);

.page {
    /* min-width: 800px; */
    /* max-width: 1920px; */
    margin: 0 auto;
    font-family: 'Montserrat', 'Verdana', sans-serif;
    background-color: #f1f1f1;
  }


.header {
    max-width: 1920px;
    min-height: 120px;
    max-height: 756px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
    position: relative;
    background-color: #0c4d99;
    padding-top: 14px;      
  }

  .header__wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    
  }

  .header__logo {
    width: 118px;
    height: 55px;
    padding-left: 14px;
  }

  .menu__items {
    margin: 0;
    line-height: 25px;
    font-size: 14px;
    font-weight: normal;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .menu__item-link {
    border: #fff 1px solid;
    color: white;
    text-decoration: none;
    padding: 3px 5px;
    margin-right: 10px;
    margin-bottom: 14px;
  }
  
  .menu__item-link:hover {
    background-color: white;  
    color: #0c4d99;
    transition: 0.2s ease;
  }

  .header__username {
      padding: 0;
      margin-right: 14px;
      color: snow;
      font-size: 14px;
  }

  .content {
      min-height: 700px;
  }

  .welcome {
    text-align: center;
    margin: 12px 12px;
  }
  
  .cards {
    list-style: none;
    display: flex;
    
    align-items: flex-start;
    text-align: left;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    position: relative;
    margin: 0;
    padding: 0;
  }
  
  .cards__item {
    margin: 0;
    height: 164px;
    background-color: #fff;
    background-image: url(../images/krona_arrow.png);
    background-position: right 14px bottom 14px;
    background-size: inherit;
    background-repeat: no-repeat;
    margin: 12px;
    padding: 25px 14px 14px 14px;
    box-sizing: border-box;
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 420px;
    box-shadow: 0px 1px 4px 0px gray;
    transition: transform 0.2s ease 0s, box-shadow 0.2s 0s;
    max-width: 920px;
   }

   .cards__item:hover {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.16);
    transform: translateY(-2px);
    transition: .2s ease-in-out;
   }

  .cards__title {
    margin: 0;
    padding: 0;
    line-height: 1.15;
    font-size: 26px;
    font-weight: 500;
    color: #1f4e94;
  }

  .cards__description {
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
    margin: 14px 0 0 0;
    color: #1f4e94;
  }

  .cards__link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 620px) {
    
  
    .cards__item {
        /* min-width: 380px; */
        
       }
       
       .menu__items {
        line-height: 20px;
        font-size: 12px;
        /* padding-left: 20px; */
      }
      .menu__item-link {
        margin-bottom: 10px;
      }
      .cards {
        margin-top: 0;
      }
      .header__username {
        font-size: 10px;
    }
    .cards__title {
        font-size: 24px;
  
      }
      .content {
        padding-top: 0;
    }
}

@media screen and (max-width: 440px) {
  
  .welcome {
    
    margin: 0;
  }

  .content {
    margin: 0;
    padding: 0;
}
  
  .cards__item {
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 400px;
    
     }
     
     .menu__items {
      line-height: 20px;
      font-size: 12px;
      padding-left: 20px;
    }
    .menu__item-link {
      margin-bottom: 10px;
    }
    .cards {
      margin-top: 5px;
    }
    .header__username {
      font-size: 10px;
  }
  .cards__title {
      font-size: 24px;

    }
    .content {
      padding: 10px;
  }
}